<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户角色列表</title>
<link rel="stylesheet" href="./css/style.css" type="text/css" />
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery.form.js"></script>
<script type="text/javascript" src="./js/ajaxsubmit.js"></script>
<script type="text/javascript" src="./js/fun.js"></script>
<script type="text/javascript" src="./js/list.js"></script>
</head>

<body>
<div class="wrap">
  <div class="search">
  <form action="{url do='search'}" method="post">
     角色名称：
     <input type="text" name="search_where[title][like]" size="12" value="{$search_where.title.like}" class="input" />
     状态：
    <select name="search_where[status][eq]">
     {:myselect('请选择,启用:1,锁定:0',$search_where.status.eq)}
    </select>
    <input type="submit" class="btn_s" value="查 询" />
  </form>
  </div>
  <form action="" method="post" id="form_data_list">
  <table cellspacing="1" class="mylist">
    <thead>
    <tr>
      <th colspan="6">
      <div class="relative">用户角色列表
        <div class="buttons">
            <a class="_add blue" href="{url f='add'}" title="新增">
                <img src="./images/add.gif" alt="详情" width="16" height="16" /> 新增
            </a>
        </div>
      </div>
      </th>
    </tr>
    <tr class="mylist_title">
      <td width="28"><input type="checkbox" class="checkbox" onclick="InverSelect();" /></td>
      <td width="108">角色名称</td>
      <td>角色说明</td>
      <td width="52">状 态</td>
      <td width="102">操 作</td>
    </tr>
    </thead>
    <tbody>
    <foreach name='$list' id='vo'>
    <tr class="datalist">
      <td align="center"><input name="id[]" type="checkbox" value="{$vo.id}" class="checkbox" /></td>
      <td dataType="require" onclick="editNow({$vo.id},'title','{url f='update'}',this);">{$vo.title}</td>
      <td onclick="editNow({$vo.id},'description','{url f='update'}',this);">{$vo.description}</td>
      <td align="center"><include file="Common_status.html" /></td>
      <td align="center" class="action"><a class="win_normal" href="{url f='auth' role_id='$vo.id'}" title="授权"><img src="./images/auth.gif" alt="授权" width="16" height="16" /></a><include file="Common_action.html" /></td>
    </tr>
    </foreach>
    </tbody>
  </table>
  <div class="mylist_foot">
    <include file="Common_action2.html" />
    <div class="page fr">{$page}</div>
  </div>
  </form>
</div>
</body>
</html>