<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<link rel="stylesheet" href="./css/style.css" type="text/css" />
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery.form.js"></script>
<script type="text/javascript" src="./js/ajaxsubmit.js"></script>
</head>

<body>
<div class="wrap">
<form method="post" action="" class="ajax_form">
  <table cellspacing="1" class="myform">
    <tr>
      <th colspan="2">修改密码</th>
    </tr>
    <tr>
      <td align="right">原密码：</td>
      <td><input type="password" name="old_pwd" size="25" class="input" /></td>
    </tr>
    <tr>
      <td align="right">密 码：</td>
      <td><input type="password" name="pwd" size="25" class="input" /></td>
    </tr>
    <tr>
      <td align="right">确认密码：</td>
      <td><input type="password" name="confirm_pwd" size="25" class="input" /></td>
    </tr>
    <tr>
      <td align="right"></td>
      <td>
        <input type="submit" value="提 交" class="btn ajax_btn" />
        </td>
    </tr>
  </table>
</form>
</div>
</body>
</html>