<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增用户打印机</title>
<link rel="stylesheet" href="./css/style.css" type="text/css" />
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery.form.js"></script>
<script type="text/javascript" src="./js/ajaxsubmit.js"></script>
</head>

<body>
<div class="wrap">
<form method="post" action="{url f='insert'}" class="ajax_form">
  <table cellspacing="1" class="myform">
    <tr>
      <th colspan="2">新增用户打印机</th>
    </tr>
    <tr>
      <td align="right">用户名：</td>
      <td><input type="text" name="user_name" size="25" class="input" dataType="require" title="请输入用户名" /></td>
    </tr>
    <tr>
      <td align="right">打印机名：</td>
      <td><input type="text" name="printer_name" size="25" class="input" dataType="require" title="请输入打印机名" /></td>
    </tr>
    <tr>
      <td align="right"></td>
      <td><input type="submit" value="提 交" class="btn ajax_btn" /></td>
    </tr>
  </table>
</form>
</div>
</body>
</html>