<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印机管理</title>
<link rel="stylesheet" href="./css/style.css" type="text/css" />
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery.form.js"></script>
<script type="text/javascript" src="./js/ajaxsubmit.js"></script>
<script type="text/javascript" src="./js/fun.js"></script>
<script type="text/javascript" src="./js/list.js"></script>
</head>

<body>
<div class="wrap">
  <div class="search">
  <form action="{url do='search'}" method="post">
     用户名：
     <input type="text" name="search_where[uname][like]" size="12" value="{$search_where.uname.like}" class="input" />
    打印机名：
	<input type="text" name="search_where[pname][like]" size="12" value="{$search_where.pname.like}" class="input" />
    <input type="submit" class="btn_s" value="查 询" />
  </form>
  </div>
  <form action="" method="post" id="form_data_list">
  <table cellspacing="1" class="mylist">
    <thead>
    <tr>
      <th colspan="6"><div class="relative">用户打印机列表
        <div class="buttons">
            <a class="_add blue" href="{url f='add'}" title="新增">
                <img src="./images/add.gif" alt="新增" width="16" height="16" /> 新增
            </a>
        </div>
      </div></th>
    </tr>
    <tr class="mylist_title">
      <td width="28"><input type="checkbox" class="checkbox" onclick="InverSelect();" /></td>
      <td>用户名</td>
      <td>打印机名</td>
      <td width="102">操 作</td>
    </tr>
    </thead>
    <tbody>
    <foreach name='$list' id='vo'>
    <tr class="datalist">
      <td align="center"><input name="id[]" type="checkbox" value="{$vo.id}" class="checkbox" /></td>
      <td align="center">{$vo.user_name}</td>
      <td align="center">{$vo.printer_name}</td>
      <td align="center" class="action"><include file="Common_action.html" /></td>
    </tr>
    </foreach>
    </tbody>
  </table>
  <div class="mylist_foot">
    <include file="Common_action2_only_delete.html" />
    <div class="page fr">{$page}</div>
  </div>
  </form>
</div>
</body>
</html>